# Application Port
PORT=2000

# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=nestjs

# Redis Configuration
REDIS_URL=redis://default:redispassword@localhost:6399/0

# JWT Secret
JWT_ACCESS_SECRET=example-secret
JWT_REFRESH_SECRET=example-secret